.SocialCard {
  display: flex;
  padding: 15px;
  margin: 15px 0px;
  border: 1px solid gold;
}

.SocialCard .avatar img {
  max-width: 100px;
  border-radius: 50%;
  padding: 5px;
}

.SocialCard .post-container {
  margin-left: 1em;
}

.SocialCard .username,
.SocialCard .time {
  color: grey;
}

.SocialCard .button-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: .8em;
}

.SocialCard .SocialButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}